<footer class="bt b--black-10 pv4 ph2">
  <div class="tc ph3 f4">

    <a class="black-70 dib link dim mh2" target="_blank" href="https://twitter.com/{{ site.data.social.twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="black-70 dib link dim mh2" target="_blank" href="https://instagram.com/{{ site.data.social.instagram }}" title="Instagram"><i class="fa fa-instagram"></i></a>
    <a class="black-70 dib link dim mh2" target="_blank" href="https://pinterest.com/{{ site.data.social.pinterest }}" title="Pinterest"><i class="fa fa-pinterest"></i></a>
    <a class="black-70 dib link dim mh2" href="mailto:{{ site.data.settings.email }}" title="Email Me"><i class="fa fa-envelope"></i></a>
    <a class="black-70 dib link dim mh2" target="_blank" href="/feed.xml" title="Subscribe via RSS"><i class="fa fa-rss"></i></a>

    <div class="black-50 db mt3 f6 fw4">{{ site.data.settings.description }}</div>
  </div>
</footer>
